/* small device */
@media screen and (max-width: 576px) {
  :root {
    --font-size: 12px;
  }
  .nav-bar {
    flex-direction: column;
    height: auto;
    padding: 20px 0px;
    gap: 50px;
  }
  .nav-ul {
    flex-direction: column;
  }
  .banner{
    flex-direction: column;
    justify-content: space-around;
  }
  .banner-content{
    width: 100%;
    padding: 50px;
  }
  .banner-btn{
    flex-direction: column;

  }
   .banner-image img{
    width: 100%;
   }

  .brand-name-container{
    grid-template-columns: repeat(1,1fr);
    row-gap: 40px;
  }
  .brand-name{
    flex-direction: column;
    text-align: center;
    
   
  }

  .vision-full{
    flex-direction: column-reverse;
    padding: 0 30px;
    gap: 50px;
  }
  
}

/* small medium device */
@media screen and (min-width: 577px) and (max-width: 768px) {
  :root {
    --font-size: 14px;
  }
  .nav-bar {
    flex-direction: column;
    height: auto;
    padding: 20px 0px;
    gap: 50px;
  }
  .banner{
    flex-direction: column;
  }
  .banner-content{
    width: 80%;
    padding-top: 50px;
  }
  .brand-name-container{
    grid-template-columns: repeat(2,1fr);
    row-gap: 40px;
  }
  .brand-name{
    flex-direction: column;
    text-align: center;
   
  }
  .vision-full{
    flex-direction: column-reverse;
    padding: 0 30px;
    gap: 50px;
  }
}

/* medium device */
@media screen and (min-width: 769px) and (max-width: 992px) {
  :root {
    --font-size: 15px;
  }
  .banner{
    flex-direction: column;
  }
  .banner-content{
    width: 90%;
    padding-top: 50px;
  }
  .brand-name-container{
    grid-template-columns: repeat(3,1fr);
    row-gap: 40px;
  }
  .brand-name{
    flex-direction: column;
    text-align: center;
   
  }
  .brand-name-last{
      grid-column: 1 / 4;
  }
  .vision-full{
    flex-direction: column-reverse;
    padding: 0 30px;
    gap: 50px;
  }
}
